header {
  font-family: var(--font-primary);
  padding: 16px;
}

.top-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-header .container-logo {
  max-width: 48px;
}

.top-header .container-logo img {
  width: 100%;
}

.top-header .app-title {
  font-size: 32px;
  color: var(--text-logo);
}

.top-header .container-slogan span {
  font-size: 16px;
  color: var(--text-secondary);
}
