#section-settings {
  font-family: var(--font-primary);
  font-weight: 500;
}

#section-settings .study-config .section-title {
  font-size: 24px;
  font-weight: 400;
  color: var(--text-secondary);
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
}

.study-area-list-item {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  font-size: 16px;
}

.study-time-list {
  display: flex;
  gap: 16px;
}

.study-time-list-item {
  position: relative;
  font-size: 16px;
  flex-grow: 1;
  text-align: center;
  font-size: 18px;
}
.study-subject {
  opacity: 0;
  transform: translateY(8px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  pointer-events: none;
}

.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.study-subject-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 16px;
}

.study-subject-list-item {
  position: relative;
  text-align: center;
}

.general-list-item {
  background-color: var(--off-white);
  border: 2px solid var(--border-color);
  padding: 24px;
  border-radius: 16px;
}

.item-area {
  position: absolute;
  inset: 0;
}
.item-subject {
  position: absolute;
  inset: 0;
}
.item-time {
  position: absolute;
  inset: 0;
}

.study-area-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.study-area-list-item img {
  max-width: 24px;
}

.study-area-list-item:hover {
  border-color: var(--border-color-darker);
}

.subject-active {
  background-color: rgba(0, 0, 255, 0.212);
  border: 2px solid blue;
}

.time-active {
  background-color: rgba(0, 0, 255, 0.212);
  border: 2px solid blue;
}

.active-area-item {
  background-color: black;
}

.purple-item {
  transition: var(--default-transition);
  background-color: rgb(243, 232, 255) !important;
  border-color: rgb(218, 178, 255) !important;
  box-shadow: 1px 2px 8px var(--border-color-darker) !important;
}

.yellow-item {
  transition: var(--default-transition);
  background-color: rgb(254, 243, 198) !important;
  border-color: rgb(255, 210, 48) !important;
  box-shadow: 1px 2px 8px var(--border-color-darker) !important;
}

.green-item {
  transition: var(--default-transition);
  background-color: rgb(220, 252, 231) !important;
  border-color: rgb(123, 241, 167) !important;
  box-shadow: 1px 2px 8px var(--border-color-darker) !important;
}

.blue-item {
  transition: var(--default-transition);
  background-color: rgb(219, 234, 254) !important;
  border-color: rgb(142, 197, 255) !important;
  box-shadow: 1px 2px 8px var(--border-color-darker) !important;
}
